"wait-for-it -s ::1:1234" crashes with ValueError: invalid literal for int() with base 10: ':1:1234'

```
$ wait-for-it -s ::1:1234
Traceback (most recent call last):
  File "/tmp/tmp.EpOU9tyqoz/py3/bin/wait-for-it", line 33, in <module>
    sys.exit(load_entry_point('wait-for-it', 'console_scripts', 'wait-for-it')())
  File "/tmp/tmp.EpOU9tyqoz/py3/lib/python3.7/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/tmp/tmp.EpOU9tyqoz/py3/lib/python3.7/site-packages/click/core.py", line 782, in main
    rv = self.invoke(ctx)
  File "/tmp/tmp.EpOU9tyqoz/py3/lib/python3.7/site-packages/click/core.py", line 1066, in invoke
    return ctx.invoke(self.callback, **ctx.params)
  File "/tmp/tmp.EpOU9tyqoz/py3/lib/python3.7/site-packages/click/core.py", line 610, in invoke
    return callback(*args, **kwargs)
  File "/tmp/tmp.EpOU9tyqoz/wait-for-it/wait_for_it/wait_for_it.py", line 98, in cli
    _connect_all_serial(service, timeout)
  File "/tmp/tmp.EpOU9tyqoz/wait-for-it/wait_for_it/wait_for_it.py", line 183, in _connect_all_serial
    connect(service, timeout)
  File "/tmp/tmp.EpOU9tyqoz/wait-for-it/wait_for_it/wait_for_it.py", line 187, in connect
    host, port = _determine_host_and_port_for(service)
  File "/tmp/tmp.EpOU9tyqoz/wait-for-it/wait_for_it/wait_for_it.py", line 32, in _determine_host_and_port_for
    port = url.port or (443 if url.scheme == "https" else 80)
  File "/usr/lib/python3.7/urllib/parse.py", line 169, in port
    port = int(port, 10)
ValueError: invalid literal for int() with base 10: ':1:1234'
```

This is caused by the URL service format support introduced at https://github.com/clarketm/wait-for-it/commit/9d8f631939bb686d7d1587766e0381211e83bfe0#diff-ae5818251477f1a9e950145b0ae260dcR36-R41 .

The core is the difference between these two cases:
```
In [18]: urlparse('https://[::1]:1234', scheme="http").port
Out[18]: 1234

In [19]: urlparse('https://::1:1234', scheme="http").port
[..]
ValueError: invalid literal for int() with base 10: ':1:1234'
```

I wonder if a user can expect `::1:1234` or rather `[::1]:1234` to work with `wait-for-it`. The square bracket syntax is from [RFC 3986 section 3.2.2](https://tools.ietf.org/html/rfc3986#section-3.2.2) but we don't always have a full URI here. What do you think? What's the best other tool to check how they handle this issue, especially disambiguation of the colon?

PS: This is not a recently introduced issue so maybe it doesn't need to block the upcoming release but just my 2 cents.

I thought about this more and also discussed with a friend who has more IPv6 in his day than me. It seems to me that:
- I wait-for-it aims at supporting notation `::1:1234` there are cases where it's impossible to say for sure if we have the case of just an address or an address plus a port. `::1:1234` already is an example with ambigiuity.
- For every one of those ambiguous cases it would be possible to ask the user to use a different notation for the same address that is not ambiguous, e.g. a full `xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:<port>` would be unambiguous… but probably little fun to a user. If things like `::1` do not work, I'm not sure if there is much of a point of supporting that notation at all.
- Some tools avoid the ambiguity by having host and port go separate ways. That would be a step backwards in terms of UX for wait-for-it.
- [socat](http://www.dest-unreach.org/socat/)'s `TCP6:<host>:<port>` is an example for a tool that uses IPv6 address and port separated by colon that does require square brackets around the IPv6 address as done with URI RFC 3986.

For a practical way forward, maybe it would be good catching `ValueError`s thrown by `urlparse` and reject any notation that does not pass without `ValueError`. That would keep `[::1]:1234` working as before not show backtraces for unsupported `::1:1234`. Then the question is if all service strings should be validated before starting connections or `on demand`. We could make our own exception, throw that and catch it near the outside so that we don't end up with `sys.exit` deep into the code.